.info {
	background: black;
	color: white;
	display: flex;
	align-content: center;
	padding: 10px;
	font-family: 'Bitter', serif;
}

.title {
	width: 50%;
}

.team {
	display: flex;
	flex-direction: row;
	margin: auto;
}

.image {
	padding: 15px;
	margin: auto;
	height: 30px;
	width: 30px;
}

.teammembers {
	display: flex;
	flex-direction: row;
	margin-left: 2vw;
}

.teamrole {
	display: flex;
	flex-direction: column;
}

.tag {
	margin: -5px 15px 0 50px;
}

.add {
	background-color: transparent;
	border: 1.5px solid #f2f5f7;
	border-radius: 1em;
	padding: 5px;
	font-family: 'Bitter', sans-serif;
	margin: auto;
	margin-left: 4vw;
	font-size: 1rem;
	cursor: pointer;
	color: white;
	height: 30px;
}

.add:hover {
	color: #131418;
	background-color: #f2f5f7;
	border: 1.5px solid #f2f5f7;
	transition: all ease-in-out 350ms;
}
